        <form id="{{panelRecord.name}}" name="{{panelRecord.recordName}}" class="css-form">

          <div ng-repeat="panelFieldItem in panelRecord.fieldRecords | filter:criteriaMatch(panelFieldItem)" class="form-group col-md-12 col-lg-12 col-sm-12 ng-scope">

            <!-- {{panelFieldItem.type}} <br>
            {{panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values}} <br -->

            <div ng-if="panelRecord.mode=='view' && !panelFieldItem.hidden">

              <div ng-if="panelFieldItem.type=='BOOLEAN'">
                    <label ng-if="panelValues[panelFieldItem.name] == true" class="btn garp-btn-orange btn-sm multicolor on active">
                      <span class="glyphicon glyphicon-ok"></span>
                    </label>
                    <label ng-if="panelValues[panelFieldItem.name] == false" class="btn btn-danger btn-sm multicolor off active">
                      <span class="glyphicon glyphicon-remove"></span>
                    </label>
                    <span class="fieldName">{{panelFieldItem.label}}</span>
              </div>

              <div ng-if="panelFieldItem.type!='BOOLEAN'">

                <span class="fieldName">{{panelFieldItem.label}}</span>

                <span ng-if="panelFieldItem.type!='DATE' && panelFieldItem.type!='DATETIME' && panelFieldItem.label.indexOf('QR') == -1 && panelFieldItem.type!='BOOLEAN'" class="fieldValue">{{panelValues[panelFieldItem.name]}}</span>
                <span ng-if="panelFieldItem.type=='DATE' && panelFieldItem.type!='BOOLEAN'" class="fieldValue">{{getDateText(panelValues[panelFieldItem.name])}}</span>
                <span ng-if="panelFieldItem.type=='DATETIME' && panelFieldItem.type!='BOOLEAN'" class="fieldValue">{{getEpochDateTimeText(panelValues[panelFieldItem.name])}}</span>

                <img ng-if="panelFieldItem.label.indexOf('QR') > -1" ng-src="{{qrcode}}{{panelValues[panelFieldItem.Id]}}" class="ticket-info-qrcode-image">
              </div>

              <p ng-if="panelFieldItem.description">{{panelFieldItem.description}}</p>

            </div>

            <div ng-if="(panelRecord.mode=='edit' || panelRecord.mode=='add' || panelRecord.mode=='form') && !panelFieldItem.readOnly && !panelFieldItem.hidden">

              <!-- REFERENCE -->
              <div ng-if="panelFieldItem.type=='REFERENCE' || panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values">
                
                <span class="in-input">{{panelFieldItem.label}}</span>

                <input ng-if="panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].otherFieldName != ''" type="text" ng-model="panelValues[panelFieldItem.name]" typeahead="state.name for state in panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values | filter:$viewValue | limitTo:8" class="form-control">

                <select ng-if="panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].otherFieldName == '' && panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values && panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values.length > 0" class="form-control" ng-options="region.code as region.name for region in panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values | orderBy:'name'" ng-model="panelValues[panelFieldItem.name]"></select>
               

                <!-- input ng-if="panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].otherFieldName == '' && panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values && panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values.length == 0 && panelFieldItem.isNillable" class="form-control" type="text" name="panelFieldItem.name" id="{{panelFieldItem.name}}" ng-model="panelValues[panelFieldItem.name]" ng-maxLength="{{panelFieldItem.maxLength}}" visited>

                <input ng-if="panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].otherFieldName == '' && panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values && panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values.length == 0 && !panelFieldItem.isNillable" class="form-control" type="text" name="panelFieldItem.name" id="{{panelFieldItem.name}}" ng-model="panelValues[panelFieldItem.name]" ng-maxLength="{{panelFieldItem.maxLength}}" required visited -->

              </div>


<!-- Number -->
            <div ng-if="panelFieldItem.type=='DOUBLE'">
              <span class="in-input">{{panelFieldItem.label}}</span>

              <input ng-if="panelFieldItem.isNillable" class="form-control" type="text" name="panelFieldItem.name" id="{{panelFieldItem.name}}" ng-model="panelValues[panelFieldItem.name]" visited>

              <input ng-if="!panelFieldItem.isNillable" class="form-control" type="text" name="panelFieldItem.name" id="{{panelFieldItem.name}}" ng-model="panelValues[panelFieldItem.name]" required visited>

            </div>


            <div ng-if="panelFieldItem.type=='MULTIPICKLIST'">
              <span>{{panelFieldItem.label}}</span>
              <div     
                  multi-select
                  input-model="panelFieldItem.multiSelect"
                  button-label="name"
                  item-label="name"
                  tick-property="ticked"
              >
              </div>
            </div>

            <!-- text -->
            <div ng-if="panelFieldItem.type!='BOOLEAN' && panelFieldItem.type!='PICKLIST' && panelFieldItem.type!='TEXTAREA' && panelFieldItem.type!='EMAIL' && panelFieldItem.type!='DATE' && panelFieldItem.type!='DATETIME' && panelFieldItem.type!='LOOKUP' && panelFieldItem.type!='REFERENCE' && panelFieldItem.type!='DOUBLE' && panelFieldItem.type!='MULTIPICKLIST' && (!panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values || panelRecord.fetchPanelFieldsParams.references[panelFieldItem.name].values.length == 0)">
              <span class="in-input">{{panelFieldItem.label}}</span>

              <input ng-if="panelFieldItem.isNillable" class="form-control" type="text" name="panelFieldItem.name" id="{{panelFieldItem.name}}" ng-model="panelValues[panelFieldItem.name]" ng-maxLength="{{panelFieldItem.maxLength}}" visited>

              <input ng-if="!panelFieldItem.isNillable" class="form-control" type="text" name="panelFieldItem.name" id="{{panelFieldItem.name}}" ng-model="panelValues[panelFieldItem.name]" ng-maxLength="{{panelFieldItem.maxLength}}" required visited>

            </div>

            <div ng-if="panelFieldItem.type=='DATETIME'">

               <div class="well">
                  <div class="dropdown">
                      <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                          <div class="input-group">
                              <input type="text" class="form-control" data-ng-model="panelValues[panelFieldItem.name]">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <datetimepicker data-ng-model="panelValues[panelFieldItem.name]" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                      </ul>
                  </div>
              </div>
            </div>

            <div ng-if="panelFieldItem.type=='DATE'">

              <p class="input-group">
                <span class="in-input">{{panelFieldItem.label}}</span>
                <input type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="panelValues[panelFieldItem.name]" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>

            </div>

            <!-- email -->

            <div ng-if="panelFieldItem.type=='EMAIL'">
              <span class="in-input">{{panelFieldItem.label}}</span>
              <input ng-if="panelFieldItem.isNillable" class="form-control" type="email" name="panelFieldItem.name" id="{{panelFieldItem.name}}" ng-model="panelValues[panelFieldItem.name]" ng-maxLength="{{panelFieldItem.maxLength}}" visited>

              <input ng-if="!panelFieldItem.isNillable" class="form-control" type="email" name="panelFieldItem.name" id="{{panelFieldItem.name}}" ng-model="panelValues[panelFieldItem.name]" ng-maxLength="{{panelFieldItem.maxLength}}" required visited>

            </div>

            <!-- textarea -->

            <div ng-if="panelFieldItem.type=='TEXTAREA'">
              <span class="in-input">{{panelFieldItem.label}}</span>
              <textarea ng-if="panelFieldItem.isNillable" name="panelFieldItem.name" id="{{panelFieldItem.name}}" class="form-control" rows="3" ng-model="panelValues[panelFieldItem.name]" visited></textarea>

              <textarea ng-if="!panelFieldItem.isNillable" name="panelFieldItem.name" id="{{panelFieldItem.name}}" class="form-control" rows="3" ng-model="panelValues[panelFieldItem.name]" required visited></textarea>


            </div>

            <!-- checkbox -->

            <div ng-if="panelFieldItem.type=='BOOLEAN'" class="checkbox">
              <label>
                <input type="checkbox" name="{{panelFieldItem.name}}" id="panelFieldItem.name" ng-model="panelValues[panelFieldItem.name]" visited> {{panelFieldItem.label}}
              </label>
              
            </div>

            <!-- select -->

            <div ng-if="panelFieldItem.type=='PICKLIST'">
              <span class="in-input">{{panelFieldItem.label}}</span>

              <select ng-if="panelFieldItem.isNillable" name="panelFieldItem.name" id="panelFieldItem.name" class="form-control" ng-model="panelValues[panelFieldItem.name]" visited>
                  <option ng-repeat="option in panelFieldItem.pickList" value="{{option}}">{{option}}</option>
              </select>

              <select ng-if="!panelFieldItem.isNillable" name="panelFieldItem.name" id="panelFieldItem.name" class="form-control" ng-model="panelValues[panelFieldItem.name]" required visited>
                  <option ng-repeat="option in panelFieldItem.pickList" value="{{option}}">{{option}}</option>
              </select>

            </div>              

            <p ng-if="panelFieldItem.description">{{panelFieldItem.description}}</p>

            <div>
              <span style="color:red" ng-show="hasClass('{{panelFieldItem.name}}','ng-invalid-maxlength')">{{panelFieldItem.label}} can only by {{panelFieldItem.maxLength}} characters.</span>
              <span style="color:red" ng-show="hasClass('{{panelFieldItem.name}}','ng-invalid-required')">{{panelFieldItem.label}} is required.</span>
            </div>

            </div>
          </div>

        </form>
