<div class="container page-container">

  <div id="spin"></div>
  
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb" style="color: black">
        <li>Register</li>
        <li>Completed</li>
      </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div>

            <strong>Thanks for registering for
              <span ng-if="regType == 'frm'"> the FRM Exam</span>
              <span ng-if="regType == 'erp'"> the ERP Exam</span>
              <span ng-if="regType == 'icbrr'"> the ICBRR Exam</span>
              <span ng-if="regType == 'fbr'"> the FBR Exam</span>
              <span ng-if="regType == 'individual'"> the Individual Membership</span>
              <span ng-if="regType == 'student'"> the Student Membership</span>
              !
            </strong>

            <p>If you have any questions not answered above don't hesitate to reach out to <a href="emailto:memberservices@garp.org">memberservices@garp.org</a> or call us at <a href="tel:+12012225022">+1.201.222.5022</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
